.groupImage {
  text-align: center;
  margin-bottom: 10px;
}
.groupName {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.groupNameTitle {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: bold;
}
.imagesArea {
  text-align: center;
}
.imageStyle {
  margin-left: 12px;
}

.game-settings-global-hide {
  display: none;
}

.game-settings-global-show {
  display: block;

  position: absolute;
  top: 32px;
  right: 32px;
  background-color: white;
  padding: 16px;
  border: solid 1px var(--gray-02) 
}

.game-settings-title {
  font-weight: 600;
  padding-bottom: 8px;
}

.game-settings-entry {
  line-height: 1.5rem;
}