.notification-global {
  padding: 16px;
  border: solid 1px var(--gray-02);
  font-weight: bold;
  color: var(--text);
}

.notification-global-info {
  background-color: var(--notification-info);
}

.notification-global-warning {
  background-color: var(--notification-warning);
}

.notification-global-error {
  background-color: var(--notification-error);
}

.notification-global-plain {
  background-color: white;
  color: var(--blue-03);
}

.modal-notification-global {
  border: solid 1px var(--blue-02);    /* #d97b7b; */
  background-color: var(--blue-00);    /* #fbd7d7; */
  color: #000;
  padding: 10px;
  width: 200px;
  text-align: center;
  line-height: 40px;
}

.modal-notification-show {
  display: inline;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.modal-notification-hide {
  display: none;
}