@import "./../../../assets/styles/global.css";

.sequence-container {
  margin-top: 20px;
}

.sequence-source-images {
  margin-bottom: 50px;
}

.sequence-feedback {
  text-align: right;
}

.sequence-image {
  cursor: pointer;
  width: 200px;
  display: inline-block;
  border: solid 1px var(--gray-02);
}

.sequence-feedback-image {
  width: 200px;
  display: none;
}

.i-write-input {
  width: 200px;
}

.i-write-input-text {
  font-size: 64px;
  margin-top: 20px;
  padding-left: 40px;
  cursor: pointer;
  color: #FF7F27;
}

.letters-sequence-global {
  padding-top: 20px;
  text-align: center;
}

.game-settings-global-hide {
  display: none;
}

.game-settings-global-show {
  display: block;

  position: absolute;
  top: 32px;
  right: 32px;
  background-color: white;
  padding: 16px;
  border: solid 1px var(--gray-05);
  margin-left: 32px; 
}

.game-settings-title {
  font-weight: 600;
  padding-bottom: 8px;
}

.game-settings-entry {
  line-height: 1.5rem;
}

.sequence-source-numbers {
  margin-bottom: 50px;
  max-width: 100%; 
  overflow-x: hidden;
  text-wrap-mode: wrap;
}

.sequence-feedback-numbers {
  direction: ltr;
  text-align: left;
  margin-left: 32px;
  text-wrap: wrap;
}

.sequence-letter-last-letter {
  margin-left: -40px;
}

.sequence-letters-advise {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sequence-letters-talk-to-me {
  padding-top: 10px;
}

