@import "./../../../assets/styles/global.css";

.i-write-container {
  margin-top: 20px;
}

.i-write-feedback {
  text-align: right;
}

.i-write-input {
  width: 200px;
}

.i-write-input-text {
  font-size: 64px;
  margin-top: 20px;
  padding-left: 40px;
  cursor: pointer;
  color: #FF7F27;
}

.i-write-global {
  padding-top: 20px;
  text-align: center;
}

.game-settings-global-hide {
  display: none;
}

.game-settings-global-show {
  display: block;

  position: absolute;
  top: 32px;
  right: 32px;
  background-color: white;
  padding: 16px;
  border: solid 1px var(--gray-05);
  margin-left: 32px; 
}

.game-settings-title {
  font-weight: 600;
  padding-bottom: 8px;
}

.game-settings-entry {
  line-height: 1.5rem;
}

.i-write-advise {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.i-write-talk-to-me {
  padding-top: 10px;
}

