@import "./../../../assets/styles/global.css";

.sort-game-entities {
  text-align: center;
  padding-top: 20px;
}

.sort-game-group-row {
  border-top: solid 1px var(--gray-05);
  border-right: solid 1px var(--gray-05);
  border-left: solid 1px var(--gray-05);
  min-height: 110px;
  padding-top: 5px;
}

.sort-game-group-label {
  text-align: center;
}

.sort-game-group-label-no-image {
  text-align: center;
  font-weight: 600;
}

.sort-game-group-cell {
  min-width: 150px;
  text-align: center;
}

.sort-game-group-entities {
  min-width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  border: solid 1px  var(--gray-05);
  background: var(--gray-02);
  padding-top: 10px;
}

.sort-game-source-img {
  margin-left: 16px;
  border: solid 1px var(--gray-05);
  padding: 5px;
}
