@import "./../../../assets/styles/global.css";

.sort-game-start-arrow {
  height: 120px;
}

.sort-game-start-arrow-area {
  text-align: center;
}

.sort-game-start-arrow-float {
  position: relative;
  -webkit-animation: floatBubble 4s infinite  normal ease-out;
  animation: floatBubble 4s infinite  normal ease-out;
}

@-webkit-keyframes floatBubble {
  0% {
      top: 0px;
  }
  50% {
      top: 60px;
  }
  100% {
      top: 0px;
  }
}
@keyframes floatBubble {
  0% {
      top: 0px;
  }
  50% {
    top: 60px;
  }
  100% {
      top: 0px;
  }
}

.sort-game-entities {
  text-align: center;
  padding-top: 20px;
}

.sort-game-group-row {
  border-bottom: solid 1px var(--gray-05);
  border-right: solid 1px var(--gray-05);
  border-left: solid 1px var(--gray-05);
  min-height: 110px;
  padding-top: 5px;
}

.sort-game-group-label {
  text-align: center;
  font-size: 2rem;
}

.sort-game-group-label-no-image {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
}

.sort-game-group-cell {
  min-width: 150px;
  text-align: center;
}

.sort-game-group-entities {
  min-width: 100%;
  text-align: center;
  vertical-align: top;
  height: 100px;
  border: solid 1px  var(--gray-05);
  background: var(--gray-02);
  padding-top: 10px;
}

.sort-game-source-img {
  margin-left: 16px;
  border: solid 1px var(--gray-05);
  padding: 5px;
}

.sort-game-face-feedback {
  text-align: left;
  padding-left: 20px;
}