@import "./../../../assets/styles/global.css";

.sequence-container {
  margin-top: 20px;
}

.sequence-source-images {
  margin-bottom: 50px;
}

.sequence-feedback {
  text-align: right;
}

.sequence-image {
  cursor: pointer;
  width: 200px;
  display: inline-block;
  border: solid 1px var(--gray-02);
}

.sequence-feedback-image {
  width: 200px;
  display: none;
}

.sequence-feedback-letter {
  width: 200px;
}

.sequence-letter {
  font-size: 64px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 40px;
  cursor: pointer;
}

.letters-sequence-global {
  padding-top: 20px;
  text-align: center;
}

