@import './../assets/styles/global.css';

.home-page-app {
  background-color: var(--background);
  direction: rtl;
  padding-right: 50px;
  padding-top: 50px;
  line-height: 40px;
}

.landing-page-app {
  background-color: var(--background);
  direction: rtl;
  padding-top: 50px;
  line-height: 40px;
  overflow: auto;
  height: 100vh;
}

.home-page-content-area {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-normal);
  color: var(--text);
}

.home-page-section-list {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  min-width: 200px;
  flex-wrap: wrap;
}

.home-page-games-list {
  padding-top: 16px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex-wrap: wrap;
}

.home-page-games-list-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 8px;
}

.home-page-games-list-items {
  flex-wrap: wrap;
}

.home-page-games-list-large-device-list {
  display: flex;
  flex-wrap: wrap;
}

.home-page-games-list-large-device {
  margin-top: 2rem;
}

.app-select-game {
  padding-top: 20px;
  padding-right: 60px;
  color: var(--link);
}

.app-games {
  display: flex;
  text-align: center;
}

.app-headless-landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-normal);
  color: var(--text);
}

.app-headless-landing-hide {
  display: none;
}

.home-page-headless-games-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 32px;
  width: 32px;
}

.home-page-hr {
  margin-bottom: 20px;
}

.headless-page-global {
  padding-top: 100px;
}

.home-page-title {
  font-size: 3rem;
  font-weight: bold;
}

.landing-page-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
}

.landing-page-image {
  padding-top: 30px;
  text-align: center;
}

.home-page-help-icon {
  position: absolute;
  top: 24px;
  left: 16px;
}
