@import './../assets/styles/global.css';

.home-page-app {
  background-color: var(--background);
  direction: rtl;
  padding-right: 50px;
  padding-top: 50px;
  line-height: 40px;
}

.home-page-content-area {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-normal);
  color: var(--text);
}

.home-page-section-list {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  min-width: 200px;
  flex-wrap: wrap;
}

.home-page-games-list {
  padding-top: 16px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-page-games-list-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 8px;
}

.home-page-games-list-items {
  flex-wrap: wrap;
}

.home-page-games-list-large-device-list {
  display: flex;
  flex-wrap: wrap;
}

.home-page-games-list-large-device {
  margin-top: 2rem;
}

.app-select-game {
  padding-top: 20px;
  padding-right: 60px;
  color: var(--link);
}

.app-games {
  display: flex;
  text-align: center;
}

.home-page-hide-mail-help {
  display: none;
}

.home-page-show-mail-help {
  display: inline;
}

.home-page-mail-help {
  background-color: var(--notification-info);
  border: solid 1px var(--blue-01); 
  position: absolute;
  top: 64px;
  left: 80px;
  padding: 8px;
}

.home-page-headless-games-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 32px;
  width: 32px;
}

.home-page-top-banner {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: row;
}

.home-page-mail {
  margin-left: 24px;
}
.home-page-hr {
  margin-bottom: 20px;
}

.home-page-title {
  font-weight: bold;
}

.home-page-user-area {
  margin-left: 32px;
  float: left;
  font-weight: normal;
}

.home-page-user-area-title {
  margin-left: 16px;
  font-size: var(--font-size-normal);
}

.home-page-user-area-selection {
  min-width: 120px;
  padding: 4px;
  color: var(--text);
  border: solid 1px var(--clickable);
  border-radius: 2px;
}

.home-page-help-icon {
  position: absolute;
  top: 24px;
  left: 16px;
}

.home-page-bottom-line {
  position: fixed;
  bottom: 0%;
}
.quiz-done-page {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
