@import './../assets/styles/global.css';

.home-page-app {
  background-color: var(--background);
  direction: rtl;
  padding-right: 50px;
  padding-top: 50px;
  line-height: 40px;
}

.home-page-landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-normal);
  color: var(--text);
}

.home-page-games-list {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  min-width: 200px;
  flex-wrap: wrap;
}

.app-select-game {
  padding-top: 20px;
  padding-right: 60px;
  color: var(--link);
}

.app-games {
  display: flex;
  text-align: center;
}

.app-headless-landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-normal);
  color: var(--text);
}

.app-headless-landing-hide {
  display: none;
}

.home-page-headless-games-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 32px;
  width: 32px;
}

.headless-page-global {
  padding-top: 100px;
}

.home-page-title {
  font-size: 3rem;
  font-weight: bold;
}