@import "./../../../assets/styles/global.css";

.select-game-entities {
  text-align: center;
  padding-top: 20px;
}

.select-game-group-row {
  border-bottom: solid 1px var(--gray-05);
  border-right: solid 1px var(--gray-05);
  border-left: solid 1px var(--gray-05);
  min-height: 110px;
  padding-top: 5px;
}

.select-game-group-label {
  text-align: center;
  font-size: 2rem;
}

.select-game-group-label-no-image {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
}

.select-game-group-cell {
  min-width: 150px;
  text-align: center;
}

.select-game-group-entities {
  min-width: 100%;
  text-align: center;
  vertical-align: top;
  height: 100px;
  border: solid 1px  var(--gray-05);
  background: var(--gray-02);
  padding-top: 10px;
}

.select-game-source-img {
  margin-left: 16px;
  padding: 5px;
  display: inline-block;
}

.select-game-face-feedback {
  text-align: left;
  padding-left: 20px;
}

.select-game-selected-img {
  margin-left: 10px;
}