.advise-icon {
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.advise-show-global {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advise-text {
  margin-right: 8px;
  font-size: 1.5rem;
  padding-top: 10px;
}

.advise-hide {
  display: none;
}

.advise-show {
  display: inline-block;
}
