@import "./../../../assets/styles/app.css";

.number-header {
  text-align: center;
  font-size: 4rem;
}

.number-languages-item {
  fill: #61dafb
}

.unit-header {
  border:"1px solid #FFFFFF";
  padding-right: 10px;
  font-size: 2rem;
}