@import "./../../../assets/styles/global.css";

.number-title {
  text-align: center;
  font-size: 4rem;
}

.number-sub-title {
  text-align: center;
}

.number-languages-item-bank {
  fill: #61dafb49
}

.number-languages-item {
  fill: #61dafb
}

.unit-header {
  border:"1px solid #FFFFFF";
  padding-right: 10px;
  font-size: 2rem;
}