@import "./../../../assets/styles/global.css";

.number-title {
  text-align: center;
  font-size: 4rem;
}

.number-sub-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.number-languages-item-bank {
  fill: #61dafb49
}

.number-languages-item {
  fill: #61dafb
}

.number-languages-table {
  border: 1px solid #FFFFFF;
  height: 100px;
  margin-right: 60px;
}

.number-languages-unit-header {
  border: 1px solid #FFFFFF;
  padding-right: 10px;
  font-size: 2rem;
}

.number-languages-unit-title {
  margin-right: 10px;
  margin-left: 16px;
}

.number-languages-newNumber-button {
  float: left;
  margin-left: 16px;
}

.which-number-number-input {
  text-align: center;
  font-size: 4rem;
  padding: 8px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 12rem;
  margin-right: 60px;
}

.which-number-item {
  fill: #e661fb
}