@import "./../../../assets/styles/global.css";

.card-global {
  padding: 10px 10px 5px 10px;
  border: solid 1px var(--gray-02);
  background-color: var(--white-02);
  margin-bottom: var(--size-s);
  margin-left: var(--size-s);
}

.card-media {
  display:block;
  margin:auto;
}