@import "./../../../assets/styles/global.css";

.card-global {
  padding: 10px;
  border: solid 1px var(--gray-02);
  background-color: var(--white-02);
}

.card-media {
  display:block;
  margin:auto;
}