@import "./../../../assets/styles/global.css";

.multiple-choice-sub-title {
  margin-bottom: 16px;
  text-align: center;
}

.multiple-choice-sub-title-normal {
  font-size: 2rem;
}

.multiple-choice-sub-title-small {
  font-size: 1.5rem;
}

.multiple-choice-sub-image {
  margin-bottom: 24px;
}