@import "./../../../assets/styles/global.css";

.multiple-choice-sub-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.multiple-choice-sub-title-small {
  font-size: 1rem;
  margin-bottom: 16px;
}

.multiple-choice-sub-image {
  margin-bottom: 24px;
}