.page {
  direction: rtl;
  padding-right: 20px;
  flex: 2;
}

.banner {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.game-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}

.game-banner-wide {
  min-height: 100px;
}
