@import "./global.css";

.kd-user-list {
  display: flex;
  flex-direction: row;
}

.kd-user-card {
  display: flex; 
  flex-direction: column
}

.kd-user-card-image {
  margin-left: 64px;
  padding: 8px;  
}

.kd-user-card-image-selected {
  background-color: var(--light-blue-00);
  border: solid 1px #6495ed;
}

.kd-user-card-title-selected {
  font-weight: bold;
}

.kd-home {
  display: flex;
  flex-direction: column;
}

.kd-workbench {
  display: flex;
  flex-direction: row;
}

.kd-code {
  display: flex; 
  flex-direction: column; 
  min-width: 350px;
}

.kd-levels-bar {
  display: flex;
  flex-direction: column;
}

.kd-levels-bar-entries {
  display: flex;
  flex-direction: row;
}

.kd-levels-bar-display-level-title {
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
}

.kd-levels-bar-hr-block {
  display: inline-block;
}

.kd-levels-bar-hr {
  margin-left: 20px;
  border-top: 1px solid var(--gray-02);
}

.kd-levels-bar-entry {
  margin-left: 16px;
  font-weight: bold;
}

.kd-levels-bar-entry:hover {
  color: var(--clickable);
  font-weight: bold;
  cursor: pointer;
}

.kd-settings-area {
  position: absolute;
  top: 54px;
  right: 74px;
  background-color: var(--light-blue-00);
  padding: 8px;
  border: solid 1px #87ceeb;
}

.kd-settings-display-hide {
  display: none;
}

.kd-settings-display-show {
  display: block;
}