:root {
  --blue-00: #6bafd65f;
  --blue-01: #6bafd6f4;
  --blue-02: #3182bd;
  --blue-03: #08519c;

  --gray-01: #f0f0f0;
  --gray-02: #DEDEDE;
  --gray-05: #9B9B9B;

  --white-01: #fff;
  --white-02: #faf5f0;
  --white-03: #faebd7;
  --white-04: #ffe7cf;

  --background: var(--gray-01);
  --text: var(--blue-03);
  --link: var(--blue-01);
}