@import './colors.css';
@import './sizes.css';

body {
  background-color: var(--background);
  direction: rtl;
}

.app-line-break {
  flex-basis: 100%;
  height: 0;
}

.app-show-inline {
  display: inline;
}

.app-vertiacl-space-l {
  height: var(--size-l);
}


.app-vertiacl-space-xxxl {
  height: var(--size-xxxl);
}

.app-show-flex {
  display: flex;
}

.app-show-flex-row {
  display: flex;
  flex-direction: row;
}

.app-show-flex-column {
  display: flex;
  flex-direction: column;
}

.app-hide {
  display: none;
}

.app-font-highlight {
  color: var(--highlight);
}

.app-title-centered {
  text-align: center;
  padding-bottom: 1rem;
}

.app-title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.app-sub-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.app-default-text {
  font-size: 1rem;
  margin-bottom: -4px;
}

.app-bold {
  font-weight: bold;
}

.app-light-bold {
  font-weight: 500;
}

.app-link {
  color: var(--link);
  text-decoration: none;
  cursor: pointer; 
}

.app-link-sm {
  font-size: 0.75rem;
  color: var(--link);
  text-decoration: none;
  cursor: pointer; 
}

.app-indent-right-08 {
  margin-right: var(--size-xs);
}

.app-indent-right-16 {
  margin-right: var(--size-normal);
}

.app-indent-right-20 {
  margin-right: var(--size-l);
}

.app-indent-top-08 {
  margin-top: var(--size-xs);
}

.app-indent-top-12 {
  margin-top: var(--size-s);
}

.app-indent-top-16 {
  margin-top: var(--size-normal);
}

.app-indent-top-20 {
  margin-top: var(--size-l);
}

.app-indent-top-32 {
  margin-top: var(--size-xxl);
}

.app-clickable {
  cursor: pointer;
}

.app-button-primary {
  background-color: var(--blue-02);
  cursor: pointer;
  border: 1px solid var(--blue-03);
  border-radius: 5px;
  padding: 16px 32px;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  color: white;
}

.app-button-primary-sm {
  background-color: var(--blue-02);
  cursor: pointer;
  border: 1px solid var(--blue-03);
  border-radius: 5px;
  padding: 4px 8px;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  color: white;
}

.app-button-ghost {
  cursor: pointer;
  border: 1px solid var(--blue-03);
  border-radius: 5px;
  padding: 16px 32px;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
}

.app-button-ghost-sm {
  cursor: pointer;
  border: 1px solid var(--blue-03);
  border-radius: 5px;
  padding: 4px 8px;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
}

.app-button-widget {
  font-size: var(--font-size-l);
  color: var(--blue-01);
  border: 2px solid var(--blue-01);
  background-color: var(--light-blue-00);
  padding: 12px 12px 12px 12px;
  border-radius: 2px;
  margin-right: var(--size-l);
  margin-bottom: 4px;
  cursor: pointer;
}

.app-page {
  direction: rtl;
  padding-right: 20px;
  flex: 2;
  background-color: var(--background);
  overflow: auto;
  height: 100vh;
}

.banner {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.game-settings-global-hide {
  display: none;
}

.game-settings-global-show {
  display: block;

  position: absolute;
  top: 32px;
  right: 32px;
  background-color: white;
  padding: 16px;
  border: solid 1px var(--gray-02) 
}

.game-settings-title {
  font-weight: 600;
  padding-bottom: 8px;
}

.game-settings-entry {
  line-height: 1.5rem;
  margin-left: 16px;
  white-space:nowrap;
}



