@import './colors.css';
@import './sizes.css';

.app-title-centered {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.app-title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.app-link {
  color: var(--link);
  text-decoration: none;
  cursor: pointer; 
}

.app-indent-01 {
  margin-right: var(--8);
}

.app-indent-02 {
  margin-right: var(--16);
}

.app-indent-03 {
  margin-right: var(--20);
}

.app-clickable {
  cursor: pointer;
}

.app-button-primary {
  background-color: var(--blue-00);
  cursor: pointer;
  border: 1px solid var(--blue-01);
  border-radius: 5px;
  padding: 15px 32px;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
}

.app-button-ghost {
  cursor: pointer;
  border: 1px solid var(--blue-01);
  border-radius: 5px;
  padding: 15px 32px;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
}

.app-page {
  direction: rtl;
  padding-right: 20px;
  flex: 2;
  background-color: var(--background);
  overflow: auto;
  height: 100vh;
}

.banner {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.game-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}

.game-banner-wide {
  min-height: 100px;
}



