@import './colors.css';
@import './sizes.css';

.app-title-centered {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.app-title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.app-link {
  color: var(--link);
  text-decoration: none;
  cursor: pointer; 
}

.app-indent-01 {
  margin-right: var(--8);
}

.app-indent-02 {
  margin-right: var(--16);
}

.app-indent-03 {
  margin-right: var(--20);
}

.app-clickable {
  cursor: pointer;
}

.app-button-primary {
  background-color: var(--blue-00);
  cursor: pointer;
  border: 1px solid var(--blue-01);
  border-radius: 5px;
  padding: 15px 32px;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
}

.app-button-ghost {
  cursor: pointer;
  border: 1px solid var(--blue-01);
  border-radius: 5px;
  padding: 15px 32px;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
}


