:root {
  --04: 4px;
  --08: 08px;
  --16: 16px;
  --20: 20px;
  --24: 24px;
  --32: 32px;
  --48: 48px;
  
  --font-size-xxl: 3rem;
  --font-size-xl: 2rem;
  --font-size-l: 1.5rem;
  --font-size-normal: 1rem;
  --font-size-s: 0.75rem;
  --font-size-xs: 0.5rem;
}

.font-size-xxl {
  font-size: var(--font-size-xxl);
}

.font-size-xxl-tablet {
  font-size: var(--font-size-xl);
}

.font-size-xl {
  font-size: var(--font-size-xl);
}

.font-size-xl-tablet {
  font-size: var(--font-size-l);
}

.font-size-l {
  font-size: var(--font-size-l);
}

.font-size-l-tablet {
  font-size: var(--font-size-normal);
}

.font-size-normal {
  font-size: var(--font-size-normal);
}

.font-size-normal-tablet {
  font-size: var(--font-size-s);
}

.font-size-s {
  font-size: var(--font-size-s);
}

.font-size-s-tablet {
  font-size: var(--font-size-s);
}

.font-size-xs {
  font-size: var(--font-size-xs);
}

.font-size-xs-tablet {
  font-size: var(--font-size-xs);
}


