:root {
  --size-xs: 4px;
  --size-s: 08px;
  --size-normal: 16px;
  --size-l: 20px;
  --size-xl: 24px;
  --size-xxl: 32px;
  --size-xxxl: 48px;
  
  --font-size-xxxxl: 5rem;
  --font-size-xxxl: 4rem;
  --font-size-xxl: 3rem;
  --font-size-xl: 2rem;
  --font-size-l: 1.5rem;
  --font-size-normal: 1rem;
  --font-size-s: 0.75rem;
  --font-size-xs: 0.5rem;
}

.font-size-xxxxl {
  font-size: var(--font-size-xxxxl);
}
.font-size-xxxl {
  font-size: var(--font-size-xxxl);
}
.font-size-xxl {
  font-size: var(--font-size-xxl);
}
.font-size-xl {
  font-size: var(--font-size-xl);
}
.font-size-l {
  font-size: var(--font-size-l);
}
.font-size-normal {
  font-size: var(--font-size-normal);
}
.font-size-s {
  font-size: var(--font-size-s);
}
.font-size-xs {
  font-size: var(--font-size-xs);
}

.font-size-xxxxl-tablet {
  font-size: var(--font-size-xl);
}

.font-size-xxxl-tablet {
  font-size: var(--font-size-xl);
}

.font-size-xxl-tablet {
  font-size: var(--font-size-xl);
}

.font-size-xl-tablet {
  font-size: var(--font-size-l);
}

.font-size-l-tablet {
  font-size: var(--font-size-normal);
}

.font-size-normal-tablet {
  font-size: var(--font-size-s);
}

.font-size-s-tablet {
  font-size: var(--font-size-s);
}

.font-size-xs-tablet {
  font-size: var(--font-size-xs);
}


