.page-header-global {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.page-header-title {
  padding-bottom: 1rem;
}

.page-header-image {
  height: 64px;
  padding-left: 32px;
  vertical-align: middle;
}

.page-header-feedback-face {
  margin-right: 16px;
}